doctype html
html(lang='en')
  head
    title
    // Meta
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='description' content='CodedThemes')
    meta(name='keywords' content=' Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app')
    meta(name='author' content='CodedThemes')
    // Favicon icon
    link(rel='icon' href='/assets/images/favicon.ico' type='image/x-icon')
    // Google font
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet')
    // Required Fremwork
    link(rel='stylesheet' type='text/css' href='/assets/css/bootstrap/css/bootstrap.min.css')
    // themify-icons line icon
    link(rel='stylesheet' type='text/css' href='/assets/icon/themify-icons/themify-icons.css')
    // ico font
    link(rel='stylesheet' type='text/css' href='/assets/icon/icofont/css/icofont.css')
    // Style.css
    link(rel='stylesheet' type='text/css' href='/assets/css/style.css')
    link(rel='stylesheet' type='text/css' href='/assets/css/jquery.mCustomScrollbar.css')
  body
    // Pre-loader start
    .theme-loader
      .ball-scale
        .contain
          .ring
            .frame
          .ring
            .frame
          .ring
            .frame
          .ring
            .frame
          .ring
            .frame
          .ring
            .frame
          .ring
            .frame
          .ring
            .frame
          .ring
            .frame
          .ring
            .frame
    // Pre-loader end
    #pcoded.pcoded
      .pcoded-overlay-box
      .pcoded-container.navbar-wrapper
        nav.navbar.header-navbar.pcoded-header
          .navbar-wrapper
            .navbar-logo
              a(href='/' style='padding-left:10px;')
                h2 TEAM 1
            .navbar-container.container-fluid
              ul.nav-left
                li
                  .sidebar_toggle
                    a(href='javascript:void(0)')
                      i.ti-menu
                li
                  a(href='#!' onclick='javascript:toggleFullScreen()')
                    i.ti-fullscreen
              ul.nav-left
                li
                  h2(style='padding-top:20px')
                    | Real estate sale price Transition & Prediction
        .pcoded-main-container
          .pcoded-wrapper
            .pcoded-content
              .pcoded-inner-content
                .main-body
                  .page-wrapper
                    .page-body
                      .row
                        // card1 start
                        .col-md-6.col-xl-3
                          .card.widget-card-1
                            .card-block-small
                              i.icofont.icofont-world.bg-c-blue.card1-icon
                              span.text-c-blue.f-w-600 Province
                              a.input
                                iframe(src='http://133.186.244.163:50077/#/notebook/2G84Y3CMG/paragraph/20210605-154634_241069600?asIframe', frameborder='0')
                              div
                                span.f-left.m-t-10.text-muted
                        // card1 end
                        // card1 start
                        .col-md-6.col-xl-3
                          .card.widget-card-1
                            .card-block-small
                              i.icofont.icofont-building.bg-c-pink.card1-icon
                              span.text-c-pink.f-w-600 Detail Address
                              a.input
                                iframe(src='http://133.186.244.163:50077/#/notebook/2G84Y3CMG/paragraph/20210608-223940_184624074?asIframe', frameborder='0')
                              div
                                span.f-left.m-t-10.text-muted
                        // card1 end
                        // card1 start
                        .col-md-6.col-xl-3
                          .card.widget-card-1
                            .card-block-small
                              i.icofont.icofont-ui-home.bg-c-green.card1-icon
                              span.text-c-green.f-w-600 Apart
                              a.input
                                iframe(src='http://133.186.244.163:50077/#/notebook/2G84Y3CMG/paragraph/20210605-165454_942415786?asIframe', frameborder='0')
                              div
                                span.f-left.m-t-10.text-muted
                        // card1 end
                        // card1 start
                        .col-md-6.col-xl-3
                          .card.widget-card-1
                            .card-block-small
                              i.icofont.icofont-cur-dollar.bg-c-yellow.card1-icon
                              span.text-c-yellow.f-w-600 Price
                              a.input
                                iframe(src='http://133.186.244.163:50077/#/notebook/2G84Y3CMG/paragraph/20210608-230516_1100001444?asIframe', frameborder='0')
                              div
                                span.f-left.m-t-10.text-muted
                                  i.text-c-yellow.f-16.icofont.icofont-tag.m-r-10
                                  | Input price range
                        // card1 end
                        // Statestics Start
                        .col-md-12.col-xl-12
                          .card
                            .card-header
                              h5 Province Transition
                              .card-header-left
                              .card-header-right
                                ul.list-unstyled.card-option
                                  li
                                    i.icofont.icofont-simple-left
                                  li
                                    i.icofont.icofont-maximize.full-card
                                  li
                                    i.icofont.icofont-minus.minimize-card
                                  li
                                    i.icofont.icofont-refresh.reload-card
                            .card-block
                              a.chart
                                iframe(src='http://133.186.244.163:50077/#/notebook/2G84Y3CMG/paragraph/20210602-223915_1629862033?asIframe', frameborder='0', allowfullscreen)
                        .col-md-12.col-xl-12
                          .card
                            .card-header
                              h5 Detail Address Transition
                              .card-header-left
                              .card-header-right
                                ul.list-unstyled.card-option
                                  li
                                    i.icofont.icofont-simple-left
                                  li
                                    i.icofont.icofont-maximize.full-card
                                  li
                                    i.icofont.icofont-minus.minimize-card
                                  li
                                    i.icofont.icofont-refresh.reload-card
                            .card-block
                              a.chart
                                iframe(src='http://133.186.244.163:50077/#/notebook/2G84Y3CMG/paragraph/20210608-223417_338745986?asIframe', frameborder='0', allowfullscreen)
                        .col-md-12.col-xl-12
                          .card
                            .card-header
                              h5 Apart Transition
                              .card-header-left
                              .card-header-right
                                ul.list-unstyled.card-option
                                  li
                                    i.icofont.icofont-simple-left
                                  li
                                    i.icofont.icofont-maximize.full-card
                                  li
                                    i.icofont.icofont-minus.minimize-card
                                  li
                                    i.icofont.icofont-refresh.reload-card
                            .card-block
                              a.chart
                                iframe(src='http://133.186.244.163:50077/#/notebook/2G84Y3CMG/paragraph/20210604-205615_1591325726?asIframe', frameborder='0', allowfullscreen)
                        .col-md-12.col-xl-12
                          .card
                            .card-header
                              h5 Apart Price Data
                              .card-header-left
                              .card-header-right
                                ul.list-unstyled.card-option
                                  li
                                    i.icofont.icofont-simple-left
                                  li
                                    i.icofont.icofont-maximize.full-card
                                  li
                                    i.icofont.icofont-minus.minimize-card
                                  li
                                    i.icofont.icofont-refresh.reload-card
                            .card-block
                              a.chart
                                iframe(src='http://133.186.244.163:50077/#/notebook/2G84Y3CMG/paragraph/20210608-223448_1865676816?asIframe', frameborder='0', allowfullscreen)
                        .col-md-12.col-xl-12
                          .card
                            .card-header
                              h5 Floor price in Apart
                              .card-header-left
                              .card-header-right
                                ul.list-unstyled.card-option
                                  li
                                    i.icofont.icofont-simple-left
                                  li
                                    i.icofont.icofont-maximize.full-card
                                  li
                                    i.icofont.icofont-minus.minimize-card
                                  li
                                    i.icofont.icofont-refresh.reload-card
                            .card-block
                              a.chart
                                iframe(src='http://133.186.244.163:50077/#/notebook/2G84Y3CMG/paragraph/20210608-223447_1329030028?asIframe', frameborder='0', allowfullscreen)
                        .col-md-12.col-xl-6
                          .card.add-task-card
                            .card-header
                              .card-header-left
                                h5 News list
                            .card-block-tab
                              .tabmenu
                                ul
                                  li#tab1.btnCon
                                    input#tabmenu1(type='radio' checked='' name='tabmenu')
                                    label(for='tabmenu1') 전체
                                    .tabCon
                                      - const nation = nation_news;
                                        each n in nation
                                          a(href=n.url) #{n.title}
                                          br
                                  li#tab2.btnCon
                                    input#tabmenu2(type='radio' checked='' name='tabmenu')
                                    label(for='tabmenu2') 서울
                                    .tabCon
                                      - const seoul = seoul_news;
                                        each n in seoul
                                          a(href=n.url) #{n.title}
                                          br
                                  li#tab3.btnCon
                                    input#tabmenu3(type='radio' checked='' name='tabmenu')
                                    label(for='tabmenu3') 경기
                                    .tabCon
                                      - const gyeonggi = gyeonggi_news;
                                        each n in gyeonggi
                                          a(href=n.url) #{n.title}
                                          br
                                  li#tab4.btnCon
                                    input#tabmenu4(type='radio' checked='' name='tabmenu')
                                    label(for='tabmenu4') 인천
                                    .tabCon
                                      - const incheon = incheon_news;
                                        each n in incheon
                                          a(href=n.url) #{n.title}
                                          br
                                  li#tab5.btnCon
                                    input#tabmenu5(type='radio' checked='' name='tabmenu')
                                    label(for='tabmenu5') 부산
                                    .tabCon
                                      - const busan = busan_news;
                                        each n in busan
                                          a(href=n.url) #{n.title}
                                          br
                                  li#tab6.btnCon
                                    input#tabmenu6(type='radio' checked='' name='tabmenu')
                                    label(for='tabmenu6') 대구
                                    .tabCon
                                      - const daegu = daegu_news;
                                        each n in daegu
                                          a(href=n.url) #{n.title}
                                          br
                                  li#tab7.btnCon
                                    input#tabmenu7(type='radio' checked='' name='tabmenu')
                                    label(for='tabmenu7') 광주
                                    .tabCon
                                      - const gwangju = gwangju_news;
                                        each n in gwangju
                                          a(href=n.url) #{n.title}
                                          br
                                  li#tab8.btnCon
                                    input#tabmenu8(type='radio' checked='' name='tabmenu')
                                    label(for='tabmenu8') 대전
                                    .tabCon
                                      - const daejeon = daejeon_news;
                                        each n in daejeon
                                          a(href=n.url) #{n.title}
                                          br
                                  li#tab9.btnCon
                                    input#tabmenu9(type='radio' checked='' name='tabmenu')
                                    label(for='tabmenu9') 세종
                                    .tabCon
                                      - const sejong = sejong_news;
                                        each n in sejong
                                          a(href=n.url) #{n.title}
                                          br
                                  li#tab10.btnCon
                                    input#tabmenu10(type='radio' checked='' name='tabmenu')
                                    label(for='tabmenu10') 울산
                                    .tabCon
                                      - const ulsan = ulsan_news;
                                        each n in ulsan
                                          a(href=n.url) #{n.title}
                                          br
                                  li#tab11.btnCon
                                    input#tabmenu11(type='radio' checked='' name='tabmenu')
                                    label(for='tabmenu11') 강원
                                    .tabCon
                                      - const gangwon = gangwon_news;
                                        each n in gangwon
                                          a(href=n.url) #{n.title}
                                          br
                                  li#tab12.btnCon
                                    input#tabmenu12(type='radio' checked='' name='tabmenu')
                                    label(for='tabmenu12') 충청
                                    .tabCon
                                      - const chungcheong = chungcheong_news;
                                        each n in chungcheong
                                          a(href=n.url) #{n.title}
                                          br
                                  li#tab13.btnCon
                                    input#tabmenu13(type='radio' checked='' name='tabmenu')
                                    label(for='tabmenu13') 경상
                                    .tabCon
                                      - const gyeongsang = gyeongsang_news;
                                        each n in gyeongsang
                                          a(href=n.url) #{n.title}
                                          br
                                  li#tab14.btnCon
                                    input#tabmenu14(type='radio' checked='' name='tabmenu')
                                    label(for='tabmenu14') 전라
                                    .tabCon
                                      - const jeolla = jeolla_news;
                                        each n in jeolla
                                          a(href=n.url) #{n.title}
                                          br
                                  li#tab15.btnCon
                                    input#tabmenu15(type='radio' checked='' name='tabmenu')
                                    label(for='tabmenu15') 제주
                                    .tabCon
                                      - const jeju = jeju_news;
                                        each n in jeju
                                          a(href=n.url) #{n.title}
                                          br
                        .col-md-12.col-xl-6
                          .card.add-task-card
                            .card-header
                              .card-header-left
                                h5 Apart Price in next month 
                              .card-block
                                iframe(src='http://133.186.244.163:50077/#/notebook/2G84Y3CMG/paragraph/20210605-175407_81665233?asIframe', frameborder='0', allowfullscreen)
                        // Data widget End
                        // Required Jquery
                        script(type='text/javascript' src='/assets/js/jquery/jquery.min.js')
                        script(type='text/javascript' src='/assets/js/jquery-ui/jquery-ui.min.js')
                        script(type='text/javascript' src='/assets/js/popper.js/popper.min.js')
                        script(type='text/javascript' src='/assets/js/bootstrap/js/bootstrap.min.js')
                        // jquery slimscroll js
                        script(type='text/javascript' src='/assets/js/jquery-slimscroll/jquery.slimscroll.js')
                        // modernizr js
                        script(type='text/javascript' src='/assets/js/modernizr/modernizr.js')
                        // am chart
                        script(src='/assets/pages/widget/amchart/amcharts.min.js')
                        script(src='/assets/pages/widget/amchart/serial.min.js')
                        // Custom js
                        script(type='text/javascript' src='/assets/pages/dashboard/custom-dashboard.js')
                        script(type='text/javascript' src='/assets/js/script.js')
                        script(type='text/javascript' src='/assets/js/SmoothScroll.js')
                        script(src='/assets/js/pcoded.min.js')
                        script(src='/assets/js/demo-12.js')
                        script(src='/assets/js/jquery.mCustomScrollbar.concat.min.js')
                        script.
                          var $window = $(window);
                          var nav = $('.fixed-button');
                          $window.scroll(function(){
                          if ($window.scrollTop() >= 200) {
                          nav.addClass('active');
                          }
                          else {
                          nav.removeClass('active');
                          }
                          });

